body {
  background-image: url("/img/background.avif");
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
}

img {
  width: 100%;
  margin-top: 20px;
}
button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0056b2;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
}

button:hover {
  background-color: #0056b2;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b2;
}

.w-50 {
  width: 50%;
}

.m-auto {
  margin: 0 auto;
}

.mb-3 {
  margin-bottom: 3rem;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0056b2;
}
